<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixibrary</title>
   <link rel="icon" href="https://pixibrary.pixelpasta.xyz/book.png">
    <style>
        body{background-image: url('/410244.png');
        background-repeat: no-repeat;
  background-attachment: fixed;
background-size: cover;}
        </style>
</head>

<body style="background-image: url(/410244.png);">
    <h1 style="text-align: center; font-family: Georgia, 'Times New Roman', Times, serif;color: black;text-decoration: underline"> Pixibrary </h1>
    </h1>
    <h1 style="text-align: center; color: black;top-margin: 2px"> 404 <br> Sorry, your searched book was not found. </h2>
 <center> 
 <h1> <mark style="background-color: white;"><a href="https://pixibrary.pixelpasta.xyz"> ⬅ Search Again </a>
<hr color="white"> 
    Website: <a href="https://pixelpasta.github.io" style="color:black">pixelpasta.github.io
</body>
</html>